

#gray_nav_box
    img(src="images/navbar.jpg")
   
 
    #nav_container
       ul#nav_list
            li 
                a(href="index.html") Home
            li
                |
            li 
                a(href="index.html") Services
            li
                |
            li 
                a(href="index.html") Contact Us


#main_box
        
    #left_column
        

    #right_column