!= partial('topnavbar.jade')
.container-fluid
    .row-fluid
        .span8
            .hero-unit
                img(src="/images/blackjack.jpg")

        .span4
            .hero-unit
                h2 Ready To Play?
                p
                p

                .btn-group
                a(href='#').btn.btn-large 1 Player
                a(href='#').btn.btn-large 2 Player
                a(href='#').btn.btn-large 3 Player
                a(href='#').btn.btn-large 4 Player
    .row-fluid
        .span3.well
            h2 Highscores

