!= partial('topnavbar.jade')
.container-fluid
    .row-fluid
        .span8
            .hero-unit
                img(src="/images/blackjack.jpg")

        .span4
            .hero-unit
                h2 Ready To Play?
                
                table
                    thead
                        tr 
                            th Name
                            th Age
                    tbody(data-bind="foreach: people")
                        tr 
                            td(data-bind="text: name")
                            td(data-bind="text: age")


                p
                p
                p              
                p

                .btn-group
                a(href='#').btn.btn-large 1 Player
                a(href='#').btn.btn-large 2 Player
                a(href='#').btn.btn-large 3 Player
                a(href='#').btn.btn-large 4 Player
    .row-fluid
        .span3.well
            h2 Highscores

script(src="/js/mainviewmodel.js")


script 
    //get to work!
    ko.applyBindings(new viewModel);



