!= partial('topnavbar.jade')
.container-fluid
    .row-fluid
        .span8
            .hero-unit
                img(src="/images/blackjack.jpg")

        .span4
            .hero-unit
                h2 Ready To Play?
                
              


                p
                p
                p              
                p

                .btn-group
                a(href='#').btn.btn-large Begin
                
    .row-fluid
        .span3.well
            h2 Highscores

script(src="/js/mainviewmodel.js")


script 
    //get to work!
    ko.applyBindings(new viewModel);



